builders/buildroot.bat
builders/liblitebase.so
builders/libtcvm.so
builders/out.kml
builders/uedit.GUICH.TOTALCROSS.pui
builders/uedit.GUINAK-PC.g.pui
builders/uedit.LARDOCELAR.Guilherme.pui
builders/uedit.prj
builders/chime.mp3
src/launchers/android/lint.xml
builders/xcode/totalcross_ios_devkeys
builders/uedit.GUILHERMECHAZAN.g.pui
builders/droid/src/main/assets
builders/droid/gradlew
builders/droid/gradlew.bat
builders/droid/*.log
builders/droid/*.properties