<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="totalcross.android"
      android:versionCode="305419896"
      android:versionName="!1.0!"
      android:sharedUserId="totalcross.app.sharedid"
    >
    
    <!-- ATTENTION: THIS IS FOR THE SINGLE APK - THERE'S ANOTHER MANIFEST FILE 
    FOR STANDARD APPLICATIONS THAT USE THE VM
    G:\TotalCross\TotalCrossVM\builders\android\apps\singleapk\AndroidManifest.xml -->

    <application android:icon="@drawable/icon" android:label="Stub"
         android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity android:name=".Loader"
        android:configChanges="keyboardHidden|orientation|screenLayout|fontScale|keyboard" 
        android:windowSoftInputMode="adjustResize"
        >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".RouteViewer"/>
        <activity android:name=".TouchImageViewer" />
        <activity android:name=".WebViewer" /> 
        <activity android:name=".CameraViewer" />
        <activity android:name=".MapViewer" />
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <receiver android:name=".StartupIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".TCService" android:exported="true" />

        <activity android:name=".CaptureActivity"
                 android:screenOrientation="landscape"
                 android:clearTaskOnLaunch="true"
                 android:stateNotNeeded="true"
                 android:configChanges="orientation|keyboardHidden"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                 android:windowSoftInputMode="stateAlwaysHidden">
         <intent-filter>
           <action android:name="totalcross.zxing.client.android.SCAN"/>
           <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="11" />
</manifest>
