<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="totalcross.android"
      android:versionCode="305419896"
      android:versionName="!1.0!"
      android:sharedUserId="totalcross.app.sharedid"
    >
    
    <!-- ATTENTION: THIS IS FOR THE SINGLE APK - THERE'S ANOTHER MANIFEST FILE 
    FOR STANDARD APPLICATIONS THAT USE THE VM
    G:\TotalCross\TotalCrossVM\builders\android\apps\singleapk\AndroidManifest.xml -->

    <application android:icon="@drawable/icon" android:label="Stub"
         android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity android:name=".Loader"
        android:configChanges="keyboardHidden|orientation|screenLayout|fontScale|keyboard" 
        android:windowSoftInputMode="adjustResize"
        >
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".RouteViewer"/>
        <activity android:name=".TouchImageViewer" />
        <activity android:name=".WebViewer" /> 
        <activity android:name=".CameraViewer" />
        <activity android:name=".MapViewer" />
        <uses-library android:name="com.google.android.maps" android:required="false" />
        <receiver android:name=".StartupIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".TCService" android:exported="true" />

        <activity android:name=".CaptureActivity"
                 android:screenOrientation="landscape"
                 android:clearTaskOnLaunch="true"
                 android:stateNotNeeded="true"
                 android:configChanges="orientation|keyboardHidden"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                 android:windowSoftInputMode="stateAlwaysHidden">
         <intent-filter>
           <action android:name="totalcross.zxing.client.android.SCAN"/>
           <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.READ_LOGS" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" android:required="false"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false"/>
    <uses-permission android:name="android.permission.VIBRATE" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA" android:required="false"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" android:required="false"/>
    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" android:required="false"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" android:required="false"/> 
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:required="false"/> 
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000"/>
</manifest>
