*.txt                text
*.vcproj             eol=crlf
*.sh                 eol=lf
*.mk                 eol=lf
Makefile             eol=lf
*.jpg                -text
*.pdb                -text
*.prc                -text
*.tcz                -text
*.cab                -text
Launcher             -text
*.so                 -text
*.exe                -text
*.dll                -text
*.bin                -text
*.jar                -text
*.jad                -text
*.cod                -text
*.mobileprovision    text  eol=lf
TCVM.vcproj       binary
TotalCrossVM/src/nm/NativeMethodsPrototypes.txt text eol=lf
