jobs:
  include:
   - os: linux
     env: WINDOWS=1
#   - os: linux
#     env: WINDOWS=0
#     language: java
#     jdk: openjdk8
#     services: docker
#   - os: osx
#     osx_image: xcode11.3
#     language: objective_c
#   - os: windows
#     language: bash

addons:
  apt:
    packages:
    - ant
    - ninja-build
    - sshpass
  homebrew:
    packages:
    - gradle
    - maven
    taps: homebrew/cask-versions
    casks: adoptopenjdk8

env:
  global:
    - WORKSPACE=$TRAVIS_BUILD_DIR
    - ANDROID_HOME=$HOME/android-sdk
    - ANDROID_NDK_ROOT=$ANDROID_HOME/ndk-bundle
    - ANDROID_NDK_HOME=$ANDROID_NDK_ROOT

before_cache:
  # Do not cache a few Gradle files/directories (see https://docs.travis-ci.com/user/languages/java/#Caching)
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    # Android SDK
    - $HOME/android-sdk-dl
    - $HOME/android-sdk
    # Gradle dependencies
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    # Android build cache (see http://tools.android.com/tech-docs/build-cache)
    - $HOME/.android/build-cache

script: if [ "$WINDOWS" = "1" ] ; then $TRAVIS_BUILD_DIR/.travis/build.windows.sh ; else $TRAVIS_BUILD_DIR/.travis/build.$TRAVIS_OS_NAME.sh ; fi
