//Microsoft Developer Studio generated resource script.
//

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ID_APPICON              ICON    DISCARDABLE     "empty_icon.ico"

/////////////////////////////////////////////////////////////////////////////

HI_RES_AWARE CEUX {1}
