<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="totalcross.android"
      android:versionCode="-1"
      android:versionName="!1.0!"
      android:sharedUserId="totalcross.app.sharedid"
    >

    <!-- ATTENTION: THIS IS *** NOT *** FOR THE SINGLE APK - THERE'S ANOTHER MANIFEST FILE 
    FOR STANDARD SINGLE APK APPLICATIONS AT
    P:\gitrepo\TotalCross\TotalCrossVM\builders\android\apps\tcvm\AndroidManifest.xml -->

    <application android:icon="@drawable/ic_launcher" android:label="TotalCross Virtual Machine"
         android:theme="@style/TCThemeNS">
        <activity android:name=".Loader" 
        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|fontScale|keyboard" 
        android:windowSoftInputMode="adjustResize"
        />
        <activity android:name=".RouteViewer"/>
        <activity android:name=".TouchImageViewer" />
        <activity android:name=".WebViewer" />
        <activity android:name=".CameraViewer" />
        <activity android:name=".MapViewer" />
        <uses-library android:name="com.google.android.maps" android:required="false" ></uses-library>
        <activity android:name=".CaptureActivity"
                 android:screenOrientation="landscape"
                 android:clearTaskOnLaunch="true"
                 android:stateNotNeeded="true"
                 android:configChanges="orientation|keyboardHidden"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                 android:windowSoftInputMode="stateAlwaysHidden">
         <intent-filter>
           <action android:name="totalcross.zxing.client.android.SCAN"/>
           <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
        </activity>
        <!-- push notifications -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                 <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                 <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="totalcross.applmv3.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name="totalcross.android.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="totalcross.android.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
         <service
            android:name="totalcross.android.gcm.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> 
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> 
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <!-- push notifications -->
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:name="totalcross.applmv3.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="totalcross.applmv3.permission.C2D_MESSAGE" />
    <!--uses-permission android:name="android.permission.WAKE_LOCK" /-->
    

</manifest>
