Package: com.yourcompany.libtcvm
Name: libtcvm
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: System Administrator
Author: System Administrator
Section: System
Tag: role::developer
